/* ====CONFIG CSS START==== */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* ====CONFIG CSS END==== */

/* ====CONFIG ANIMATION START==== */

@keyframes example {
    0%   {color: blue;}
    10%  {color: yellow;}
    25%  {color: green;}
    50%  {color: blue;}
    70%  {color: yellow;}
    100% {color: green;}
  }

/* ====CONFIG ANIMATION END==== */



.main {
    width: 100%;
}

.main-head {
    display: flex;
    justify-content: space-around;
    background-color: azure;
}

div .head {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: sans-serif;
}

.main-head div h1 {
    font-size: 70px;
    color: rgb(32, 32, 32);
}

.main-head div p {
    text-align: center;
}

.head span {
    color: rgb(22, 124, 124);
    animation-name: example;
    animation-duration: 7s;
}

.main-head img  {
    width: 400px;
}


.filters .filter {
    display: flex;
    flex-direction: row;
    padding-top: 150px;
}

.filter .filter-lokasi {
    display: flex;
    flex-direction: column;
}

.filter .filter-jurusan {
    display: flex;
    flex-direction: column;
}

div input {
    border-style: 1px;
    border-color: rgb(22, 124, 124);
    border-style: solid;
    outline: none;
    font-size: 13px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 10px;
}

div button {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: rgb(22, 124, 124);
    border-style: none;
    border-radius: 10px;
}

button i {
    scale: 150%;
    color: white;
}

div button {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: rgb(22, 124, 124);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}


 .keyword {
    display: flex;
    padding-top: 50px;
}

.keyword a {
    padding-left: 15px;
    padding-top: 3px;
    text-decoration: none;
    color: rgb(22, 124, 124);
}

div h1 {
    text-align: center;
}

div .head-partner {
    padding-top: 50px;
    color: rgb(22, 124, 124);
}

div .partner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
}

.partner img {
    width: 150px;
}






/* ====MAIN CSS END==== */