* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}




/* =============TABLET============ */
@media screen and (max-width: 1000px) {

    .main-head img {
        display: none;
    }

    .head h1 {
        font-size: 70px;
    }

    .main-head div p {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .filters .filter {
        display: flex;
        justify-content: center;
        scale: 100%;
    }



}



/* =============MOBILE============ */

@media screen and (max-width: 670px) {

    .filters .filter {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .filter .filter-lokasi {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filter .filter-jurusan {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filter-lokasi label {
        display: flex;
        align-self: flex-start;
        padding-left: 60px;
    }

    .filter-jurusan label {
        display: flex;
        align-self: flex-start;
        padding-left: 60px;
        padding-top: 20px;
    }
    
    div input {
       width: 80%;
    }

    div button {
        display: flex;
        align-self: center;
        margin-top: 20px;
        width: 60%;
    }

}